{# templates/home.html.twig #}
{% extends 'base.html.twig' %}

{% form_theme form 'Resources/views/form/bulma_1_horizontal_layout.html.twig' %}

{% block title %}Bulma Bridge{% endblock %}

{% block body %}
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    <a class="has-text-black mr-5" href="{{ path(constant('App\\Controller\\HomeController::ROUTE_HOME')) }}"><i class="fa fa-home"></i></a>
                    Horizontal
                </h1>
                <h2 class="subtitle">
                    Exemples de formulaire horizontal
                </h2>
                <a class="button is-link is-light" href="{{ path(constant('App\\Controller\\HomeController::ROUTE_EXAMPLE_LAYOUT')) }}">Voir la version layout</a>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="content">
                <h3 class="subtitle">Example de champs</h3>
                {{ form(form) }}
            </div>
        </div>
    </section>
{% endblock %}
